html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: auto;
  font-family: 'Quicksand', sans-serif;
	font-size: 25px;
}

#menu {
  height: 100%;
  background-image: url(../img/background.png);
  background-size: cover;
}
.logo{
 
  padding-left: 15px;
  float: left;
}

nav{
	width: 960px;
	height: 55px;
	background: #eddeed;
	float: right;


}

.menu li{ 
	width: 155px;
	list-style: none;
	float: left;
	line-height: 55px;
	text-indent: 15px;
	position: relative;
	font-size: 20px;
    
    
}
a{
	text-decoration: blink;
	font-weight: bold;
    color: white;
	font-size: 15px;
}
li:hover >a{
    color:orange;
	}
li:hover >a{

		color: #fff;
	}
span{
	font-size: 10px;
	font-weight: bold;
	color: red;
	float: right;
	padding: 5px;
	
	

}
nav span input{
	font-size: 14px;
	

}
button{
	border-radius: 50%;
	size: 25px;
	color: white;
	font-size: 34px;
	padding: 3px; font-weight: normal;
}
.sub_menu{
	display: none;
	width: 160px;
	/* background: #eddeed; */
	position: absolute;
	top: 55px;
	

}
.sub_menu a>li{
	background-color: white;
}
.sub_menu li:hover{
	
	background-color: orange;
	
}
.menu li:hover .sub_menu{
	display: block;
}
 #nav{
    margin: 90px;
    margin-left: 500px;
 }
 #signin>input{
	padding: .1em .2em;
	border: 1px solid hsla(0, 0%, 0%, .3);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: orange;

	color: #fff;
	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, .8);
	font-size: 38px;
 }
 input{
	width: 100%;
	padding: 9px 10px 15px;
	font-size: 25px;
	background: white;
	/* border: 2px solid #537b35; */
	outline: none;
	margin-bottom: 20px;
	
	font-family: 'Quicksand', sans-serif;

}
aside {
    width: 300px;
    height: 100px;
   
}

table tr td img {
   
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  
    
}
#tintuc{
  background-color: white;
  width: 100%;
 
}
.btn-top {
    background-image: url(../img/btn_up.png);
    background-repeat: no-repeat;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}


.thumbnail img:hover {
    transform: scale(1.1);
}
.thumbnail1 img:hover {
    transform: scale(1.1);
}